<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huhaichang.weather3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="天气2.0"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2wWG2QQbjyBqFMNm7jwcx1TG8qqGLiWC" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.huhaichang.weather3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeTest" />
        <activity
            android:name=".WeatherActivity"
            android:theme="@style/AppThemeTest" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Test1Activity"
            android:theme="@style/AppThemeTest" />
        <activity
            android:name=".managecity.ADDActivity"
            android:theme="@style/AppThemeTest" />
        <activity
            android:name=".managecity.DeleteActivity"
            android:theme="@style/AppThemeTest" />
        <activity android:name=".GPSActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tanqiu.TanqiuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeTest" />
        <activity
            android:name=".userinfo.UserInfoActivity"
            android:theme="@style/AppThemeTest" />
        <activity
            android:name=".userinfo.TakePhotoActivity"
            android:theme="@style/AppThemeTest" />
        <activity android:name=".userinfo.BirthInfoActivity"
            android:theme="@style/AppThemeTest"/>

    </application>

</manifest>